services:
  web:
    image: gathering_surf:${TAG}
    environment:
      - REDIS_HOST=cache
    ports:
      - "8080:8080"
  cache:
    image: redis:7-alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data

volumes:
  cache:
    driver: local
