services:
  web:
    image: gathering_surf:${TAG}
    environment:
      - REDIS_HOST=cache
    ports:
      # No longer port forwarding the host's port into the container.
      - "8080"
    # New key, tells compose to spin up three instances of this image!
    deploy:
      replicas: 3

  # New nginx service for load balancing between gathering_surf replicas
  nginx:
    image: nginx:latest
    depends_on: 
      - web
    ports:
      # The port 8080 will be the port your application is available on the outside
      - "8080:80"
    volumes:
      - /home/austin/nginx.conf:/etc/nginx/nginx.conf:ro

  cache:
    image: redis:7-alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data

volumes:
  cache:
    driver: local
