{% include "includes/legendLoader.html" %}
<div id="legend-container" class="hidden">
  <div
    id="legend"
    class="rounded text-white pointer-events-none transition flex justify-center text-lg m-auto"
    style="display: hidden"
  >
    <div class="mx-auto max-w-7xl text-black">
      <div class="px-2 grid gap-px grid-cols-2 sm:grid-cols-3 lg:grid-cols-6">
        <div class="grid items-end p-2 py-1 sm:py-2 sm:px-6 lg:px-8 min-w-72">
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              class="text-xl sm:text-3xl font-medium tracking-tight"
              id="legend-label"
            ></span>
          </p>
        </div>

        <div class="sm:hidden"></div>

        <div
          class="hidden lg:grid items-end px-4 py-1 sm:py-2 sm:px-6 lg:px-8 min-w-72"
        >
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              id="legend-quality"
              class="text-2xl sm:text-3xl font-medium tracking-tight"
            ></span>
          </p>
        </div>
        <div class="grid items-end p-2 sm:py-2 sm:px-6 lg:px-8 grid-rows-1">
          <p class="text-sm font-medium leading-6 text-gray-900">Wave Height</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              class="text-2xl sm:text-3xl font-semibold tracking-tight"
              id="legend-wave-height"
            ></span>
            <span class="text-sm text-gray-900">ft</span>
          </p>
        </div>
        <div class="grid items-end p-2 sm:py-2 sm:px-6 lg:px-8 grid-rows-1">
          <p class="text-sm font-medium leading-6 text-gray-900">Wind</p>
          <div class="mt-2 flex items-baseline gap-x-2">
            <div
              class="h-6 sm:h-8 min-w-8 fill-black mr-2"
              id="legend-wind-icon-container"
            >
              <svg
                id="legend-wind-icon"
                class="transition"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
              >
                <title>wind direction</title>
                <path
                  d="M26.71,10.29l-10-10a1,1,0,0,0-1.41,0l-10,10,1.41,1.41L15,3.41V32h2V3.41l8.29,8.29Z"
                />
              </svg>
            </div>
            <span
              id="legend-wind-speed"
              class="text-2xl sm:text-3xl font-semibold tracking-tight"
            ></span>
            <span class="text-sm text-gray-900">mph</span>
          </div>
        </div>
        <div
          class="hidden lg:grid items-end p-2 sm:py-2 sm:px-6 lg:px-8 grid-rows-1"
        >
          <p class="text-sm font-medium leading-6 text-gray-900">Gusts</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              id="legend-wind-gust"
              class="text-3xl font-semibold tracking-tight"
            ></span>
            <span class="text-sm text-gray-900">mph</span>
          </p>
        </div>
        <div
          class="hidden lg:grid items-end p-2 sm:py-2 sm:px-6 lg:px-8 grid-rows-1"
        >
          <p class="text-sm font-medium leading-6 text-gray-900">Wave Period</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              id="legend-wave-period"
              class="text-3xl font-semibold tracking-tight"
            ></span>
            <span class="text-sm text-gray-900">s</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
