{% include "includes/legendLoader.html" %}
<div id="legend-container" class="hidden">
  <div
    id="legend"
    class="pointer-events-none m-auto flex justify-center rounded text-lg text-white transition"
    style="display: hidden"
  >
    <div class="mx-auto max-w-7xl text-black">
      <div class="grid grid-cols-2 gap-px px-2 sm:grid-cols-3 lg:grid-cols-6">
        <div class="grid min-w-72 items-end p-2 py-1 sm:px-6 sm:py-2 lg:px-8">
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              class="text-xl font-medium tracking-tight sm:text-3xl"
              id="legend-label"
            ></span>
          </p>
        </div>

        <div class="sm:hidden"></div>

        <div
          class="hidden min-w-72 items-end px-4 py-1 sm:px-6 sm:py-2 lg:grid lg:px-8"
        >
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              id="legend-quality"
              class="text-2xl font-medium tracking-tight sm:text-3xl"
            ></span>
          </p>
        </div>
        <div class="grid grid-rows-1 items-end p-2 sm:px-6 sm:py-2 lg:px-8">
          <p class="text-sm font-medium leading-6 text-gray-900">Wave Height</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              class="text-2xl font-semibold tracking-tight sm:text-3xl"
              id="legend-wave-height"
            ></span>
            <span class="text-sm text-gray-900">ft</span>
          </p>
        </div>
        <div class="grid grid-rows-1 items-end p-2 sm:px-6 sm:py-2 lg:px-8">
          <p class="text-sm font-medium leading-6 text-gray-900">Wind</p>
          <div class="mt-2 flex items-baseline gap-x-2">
            <div
              class="mr-2 h-6 min-w-8 fill-black sm:h-8"
              id="legend-wind-icon-container"
            >
              <svg
                id="legend-wind-icon"
                class="transition"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
              >
                <title>wind direction</title>
                <path
                  d="M26.71,10.29l-10-10a1,1,0,0,0-1.41,0l-10,10,1.41,1.41L15,3.41V32h2V3.41l8.29,8.29Z"
                />
              </svg>
            </div>
            <span
              id="legend-wind-speed"
              class="text-2xl font-semibold tracking-tight sm:text-3xl"
            ></span>
            <span class="text-sm text-gray-900">mph</span>
          </div>
        </div>
        <div
          class="hidden grid-rows-1 items-end p-2 sm:px-6 sm:py-2 lg:grid lg:px-8"
        >
          <p class="text-sm font-medium leading-6 text-gray-900">Gusts</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              id="legend-wind-gust"
              class="text-3xl font-semibold tracking-tight"
            ></span>
            <span class="text-sm text-gray-900">mph</span>
          </p>
        </div>
        <div
          class="hidden grid-rows-1 items-end p-2 sm:px-6 sm:py-2 lg:grid lg:px-8"
        >
          <p class="text-sm font-medium leading-6 text-gray-900">Wave Period</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              id="legend-wave-period"
              class="text-3xl font-semibold tracking-tight"
            ></span>
            <span class="text-sm text-gray-900">s</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
