<div id="forecast-container" class="mt-14 sm:mt-16">
  <div>
    <div
      class="sticky top-[64px] z-10 mb-10 flex items-start justify-between gap-x-8 gap-y-2 border-b border-white/15 bg-black/90 px-4 py-4 sm:flex-row sm:items-center sm:px-6 lg:px-8"
    >
      <div class="flex flex-col lg:w-full lg:flex-row lg:justify-between">
        <div>
          <h1
            class="mb-0 flex gap-x-3 text-xl leading-7 text-white sm:self-center sm:text-2xl"
          >
            <span class="hidden lg:block">This Week</span
            ><span class="block lg:hidden">Forecast</span>
          </h1>
        </div>
        <div
          id="forecast-as-of-container"
          class="hidden max-h-[24px] animate-pulse items-center rounded-full bg-gray-400/10 px-3 py-1 font-mono text-xs font-medium text-gray-500 ring-1 ring-inset ring-gray-400/30 sm:order-none lg:flex"
        >
          <span id="forecast-as-of" class="pt-[2px]"
            >____________________________</span
          >
        </div>
      </div>
      <div class="flex space-x-2 lg:hidden">
        <button
          disabled
          id="forecast-backward"
          class="group rounded-full border border-white px-2 font-mono hover:border-gray-300 hover:fill-gray-300 hover:text-gray-300 disabled:border-zinc-700 disabled:text-zinc-700"
        >
          &larr;
        </button>
        <span id="forecast-range" class="min-w-10 text-center md:min-w-32"
          >__________</span
        >
        <button
          id="forecast-foreward"
          class="group rounded-full border border-white px-2 font-mono hover:border-gray-300 hover:fill-gray-300 hover:text-gray-300 disabled:border-zinc-700 disabled:text-zinc-700"
        >
          &rarr;
        </button>
      </div>
    </div>
    <div class="px-4 sm:px-6 md:space-y-16 lg:px-8">
      <div>
        <h2 class="select-none text-lg font-bold text-gray-500">Waves</h2>
        {% include "includes/chartLoader.html" %}
        <div class="flex max-h-96 select-none justify-center lg:max-h-[600px]">
          <canvas class="hidden" id="forecast"></canvas>
        </div>
        {% include "includes/forecastLegend.html" %}
      </div>
      <div>
        <h2 class="my-8 select-none text-lg font-bold text-gray-500">
          Temperature
        </h2>
        {% include "includes/chartLoader.html" %}
        <div
          class="mt-4 flex max-h-96 select-none justify-center lg:max-h-[600px]"
        >
          <canvas class="hidden" id="temperature-forecast"></canvas>
        </div>
        {% include "includes/temperatureLegend.html" %}
      </div>
      <div class="mb-20">
        <h2 class="my-8 select-none text-lg font-bold text-gray-500">
          Precipitation
        </h2>
        {% include "includes/chartLoader.html" %}
        <div
          class="mt-4 flex max-h-96 select-none justify-center lg:max-h-[600px]"
        >
          <canvas class="hidden" id="precipitation-forecast"></canvas>
        </div>
        {% include "includes/precipitationLegend.html" %}
      </div>
    </div>
    <div
      id="forecast-as-of-container-2"
      class="m-auto flex w-fit animate-pulse items-center rounded-full bg-gray-400/10 px-2 py-1 font-mono text-xs font-medium text-gray-500 ring-1 ring-inset ring-gray-400/30 sm:order-none md:mt-10 lg:hidden"
    >
      <span id="forecast-as-of-2" class="pt-[2px]"
        >____________________________</span
      >
    </div>
  </div>
</div>
<div id="forecast-error"></div>
