<div
  class="sticky top-0 z-40 flex h-16 shrink-0 items-center justify-between bg-black/90 px-4 shadow-xs sm:px-6 lg:px-8"
>
  <div class="flex gap-x-6">
    <button
      @click="showNav = true"
      type="button"
      class="-m-2.5 p-2.5 text-white hover:text-gray-500"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <a href="/" class="group"
      ><p
        class="flex items-center font-['Array'] text-3xl group-hover:text-gray-500"
      >
        🌈<span class="ml-2 hidden text-2xl sm:block">gathering surf</span>
      </p></a
    >
  </div>
  <p class="text-end font-['Array'] text-2xl font-light sm:ml-6 sm:text-4xl">
    {{ spot.name | lower }}
  </p>
</div>
