<div
  class="sticky top-0 z-40 flex h-16 shrink-0 justify-between sm:justify-normal items-center bg-black/90 px-4 shadow-sm sm:px-6 lg:px-8"
>
  <div class="flex gap-x-6">
    <button
      @click="showNav = true"
      type="button"
      class="-m-2.5 p-2.5 text-white hover:text-gray-500"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <a href="/"
      ><p class="h-8 w-8 sm:mr-2">{% include "includes/logo.svg" %}</p></a
    >
  </div>
  <p class="text-2xl sm:text-3xl font-light text-end sm:ml-6">{{ spot.name }}</p>
</div>
