<div id="latest-container">
  <div
    class="sticky top-[64px] z-10 flex flex-col-reverse items-start justify-between gap-x-8 gap-y-2 border-b border-white/15 bg-black/90 px-4 py-4 sm:flex-row sm:items-center sm:px-6 lg:px-8"
  >
    <div class="flex items-center">
      <h1
        class="mb-0 flex gap-x-3 text-xl leading-7 text-white sm:self-center sm:text-2xl"
      >
        Right Now
      </h1>
      {% if spot.live_feed_url %}
      <button class="ml-2" @click="showLiveFeed = true">
        {% include "includes/cam.svg" %}
      </button>
      {% endif %}
    </div>
    <div
      id="as-of-container"
      class="order-first flex animate-pulse rounded-full bg-gray-400/10 px-3 py-1 font-mono text-xs font-medium text-gray-500 ring-1 ring-inset ring-gray-400/30 sm:order-none"
    >
      <span id="as-of" class="pt-[2px]">____________________________</span>
    </div>
  </div>

  <!-- Stats -->
  <div
    class="grid grid-cols-2 lg:grid-cols-3"
    x-data="{ showFallbackModal: false }"
  >
    <div class="border-t border-white/5 px-4 py-3 sm:p-3 lg:px-8">
      <p class="flex items-center text-sm font-medium leading-6 text-gray-400">
        Waves
        <span
          id="wave-fallback-icon"
          class="hidden ml-2 cursor-pointer"
          @click="showFallbackModal = !showFallbackModal"
        >
          <svg
            class="fill-yellow-400 hover:fill-yellow-600 h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="100"
            height="100"
            viewBox="0 0 24 24"
          >
            <path
              d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 7 L 11 9 L 13 9 L 13 7 L 11 7 z M 11 11 L 11 17 L 13 17 L 13 11 L 11 11 z"
            ></path></svg
        ></span>
      </p>
      <div :class="{ 'hidden': !showFallbackModal }" x-cloak>
        <div
          class="relative z-40"
          aria-labelledby="modal-title"
          role="dialog"
          aria-modal="true"
        >
          <div class="fixed inset-0 bg-black/10 backdrop-blur-md"></div>
          <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div
              class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
            >
              <div
                class="relative transform overflow-hidden rounded-lg bg-black text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg border border-solid border-gray-700"
              >
                <div class="bg-black px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                  <div class="sm:flex sm:items-start">
                    <div
                      class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-yellow-400 sm:mx-0 sm:h-10 sm:w-10"
                    >
                      <svg
                        class="h-6 w-6 fill-yellow-700"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="100"
                        height="100"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 7 L 11 9 L 13 9 L 13 7 L 11 7 z M 11 11 L 11 17 L 13 17 L 13 11 L 11 11 z"
                        ></path>
                      </svg>
                    </div>
                    <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                      <h3
                        class="text-base font-semibold leading-6 text-white"
                        id="modal-title"
                      >
                        Realtime Wave Data
                      </h3>
                      <div class="mt-2">
                        <p class="text-sm text-gray-200">
                          The local bouy has been retrived for the winter or
                          doesn't exsist. This is the forecasted wave height.
                          Other realtime values are from a land based weather
                          station near this beach. The water temperature is from
                          a bouy in the center of the lake.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="bg-gray-950/80 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6"
                >
                  <button
                    type="button"
                    class="mt-3 inline-flex w-full justify-center rounded-md bg-gray-800 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-700 hover:bg-gray-900 sm:mt-0 sm:w-auto"
                    @click="showFallbackModal = false"
                  >
                    OK
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2 flex items-baseline gap-x-2">
        <div
          style="
            width: 6px;
            height: 64px;
            border-radius: 99px;
            margin: auto 10px auto 0;
          "
          class="wave-quality-loader animate-pulse bg-gray-700"
        ></div>
        <div
          id="wave-quality"
          class="mr-[10px] hidden h-16 w-[6px] self-center rounded-full"
        ></div>
        <div class="flex flex-col">
          <div class="flex items-baseline space-x-1">
            <div
              class="wavey h-[40px] w-[40px] animate-pulse rounded-xl bg-gray-700"
            ></div>
            <span
              id="current-wave-height"
              class="text-2xl font-semibold tracking-tight text-white sm:text-4xl"
            >
            </span>
            <span class="text-sm text-gray-400">ft</span>
            <span class="text-sm text-gray-400">@</span>
            <div
              id="wavey-period-loader"
              class="h-[20px] w-[10px] animate-pulse rounded bg-gray-700"
            ></div>
            <span class="text-gray-400">
              <span
                id="current-wave-period"
                class="text-lg font-semibold text-white"
              >
              </span
              >s
            </span>
            <div
              class="mr-2 h-4 w-4 fill-white pt-[3px]"
              id="wave-icon-container"
            >
              <svg
                id="wave-icon"
                class="transition"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
              >
                <title>wave direction</title>
                <path
                  d="M26.71,10.29l-10-10a1,1,0,0,0-1.41,0l-10,10,1.41,1.41L15,3.41V32h2V3.41l8.29,8.29Z"
                />
              </svg>
            </div>
          </div>
          <div class="flex items-baseline">
            <div
              class="wave-quality-loader h-[20px] w-[40px] animate-pulse rounded-xl bg-gray-700"
            ></div>
            <div
              id="wave-quality-text"
              class="mt-2 text-xl font-semibold leading-3 tracking-tight text-white"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="wind-container"
      class="border-t border-white/5 px-4 py-3 sm:border-l sm:p-3 lg:px-8"
    >
      <p class="text-sm font-medium leading-6 text-gray-400">Wind</p>
      <div
        class="mt-2 flex items-baseline gap-x-2 text-2xl font-semibold tracking-tight text-white sm:text-4xl"
      >
        <div
          class="mr-2 h-6 w-6 fill-white sm:h-8 sm:w-8"
          id="wind-icon-container"
        >
          <svg
            id="wind-icon"
            class="transition"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
          >
            <title>wind direction</title>
            <path
              d="M26.71,10.29l-10-10a1,1,0,0,0-1.41,0l-10,10,1.41,1.41L15,3.41V32h2V3.41l8.29,8.29Z"
            />
          </svg>
        </div>
        <div
          class="latest-loader h-[40px] w-[40px] animate-pulse rounded-xl bg-gray-700"
        ></div>
        <span id="wind"></span>
        <span id="wind-measurement" class="text-sm text-gray-400">mph</span>
      </div>
    </div>
    <div
      class="flex justify-between border-t border-white/5 px-4 py-3 sm:px-6 lg:border-l lg:px-8"
    >
      <div>
        <p class="text-sm font-medium leading-6 text-gray-400">Water Temp</p>
        <div
          class="mt-2 flex items-baseline gap-x-2 text-2xl font-semibold tracking-tight text-white sm:text-4xl"
        >
          <div
            class="latest-loader h-[40px] w-[40px] animate-pulse rounded-xl bg-gray-700"
          ></div>
          <span id="current-water-temp"></span>
          <span class="text-sm font-semibold tracking-tight text-gray-400"
            >°F</span
          >
        </div>
      </div>
    </div>
    <div
      class="flex justify-between border-t border-white/5 px-4 py-3 sm:px-6 lg:hidden lg:border-l lg:px-8"
    >
      <div>
        <p class="text-sm font-medium leading-6 text-gray-400">Air Temp</p>
        <div
          class="mt-2 flex items-baseline gap-x-2 text-2xl font-semibold tracking-tight text-white sm:text-4xl"
        >
          <div
            class="latest-loader h-[40px] w-[40px] animate-pulse rounded-xl bg-gray-700"
          ></div>
          <span id="current-air-temp-2"></span>
          <span
            id="current-air-temp-2-measurement"
            class="text-sm font-semibold tracking-tight text-gray-400"
            >°F</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 bg-gray-700/10 lg:grid-cols-2">
    <div
      class="border-b border-t border-white/5 px-4 py-3 text-gray-300 sm:p-3 lg:px-8"
    >
      <div id="water-quality-container">
        <p class="mr-2 text-sm font-medium leading-6 text-gray-400">
          Beach Status
        </p>
        <div
          class="water-quality-loader mt-2 h-[40px] w-80 animate-pulse rounded-xl bg-gray-700"
        ></div>
        <div class="hidden" id="current-water-quality">
          <div
            class="mt-2 flex items-baseline gap-x-2 text-xl font-semibold tracking-tight text-white sm:text-4xl"
          >
            <span id="current-water-quality-title"></span>
            <span
              id="current-water-quality-status-text"
              class="text-sm font-light tracking-tight text-gray-300 sm:text-lg"
            ></span>
          </div>
        </div>
      </div>
      <div id="water-quality-error"></div>
    </div>
    <div
      class="hidden border-b border-t border-white/5 px-4 py-3 sm:border-l sm:p-3 lg:block lg:px-8"
    >
      <p class="text-sm font-medium leading-6 text-gray-400">Air Temp</p>
      <div
        class="mt-2 flex items-baseline gap-x-2 text-2xl font-semibold tracking-tight text-white sm:text-4xl"
      >
        <div
          class="latest-loader h-[40px] w-[40px] animate-pulse rounded-xl bg-gray-700"
        ></div>
        <span id="current-air-temp"></span>
        <span
          id="current-air-temp-measurement"
          class="text-sm font-semibold tracking-tight text-gray-400"
          >°F</span
        >
      </div>
    </div>
  </div>
</div>
<div id="latest-error"></div>
