<div x-cloak>
  <div
    x-show="showLiveFeed"
    class="fixed inset-0 z-50 bg-black/10 backdrop-blur-md"
  ></div>
  <div
    x-show="showLiveFeed"
    class="absolute left-0 right-0 top-24 z-50 m-auto h-[315px] w-[90%] md:h-[472px] lg:h-[630px] lg:w-[1040px]"
  >
    <div class="h-full">
      <div class="h-12">
        <div class="absolute top-0 flex w-full justify-end pt-5">
          <button
            type="button"
            @click="showLiveFeed = false"
            class="group -m-2.5 p-2.5"
          >
            <span class="sr-only">Close sidebar</span>
            {% include "includes/exit.svg" %}
          </button>
        </div>
      </div>
      <iframe
        width="100%"
        height="100%"
        src="{{ spot.live_feed_url }}"
        title="YouTube video player"
        frameborder="0"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
