<div
  class="relative z-50"
  x-cloak
  x-show="showNav"
  role="dialog"
>
  <div class="fixed inset-0 bg-black/10 backdrop-blur-md"></div>

  <div class="fixed inset-0 flex">
    <div class="relative mr-16 flex w-full max-w-xs flex-1">
      <div class="absolute left-full top-0 flex w-16 justify-center pt-5 group">
        <button type="button" @click="showNav = false" class="-m-2.5 p-2.5">
          <span class="sr-only">Close sidebar</span>
          {% include "includes/exit.html" %}
        </button>
      </div>

      <div
        class="flex grow flex-col gap-y-5 overflow-y-auto bg-black/80 px-6 ring-1 ring-white/10"
      >
        <div class="flex h-16 shrink-0 items-center">
          <p class="h-8 w-8">{% include "includes/logo.svg" %}</p>
        </div>
        <nav class="flex flex-1 flex-col">
          <ul role="list" class="flex flex-1 flex-col gap-y-7">
            <li>
              <ul role="list" class="-mx-2 space-y-1">
                {% for break in breaks %}
                <li>
                    {% if break == spot.name %}
                      <a
                        href="?spot={{ break }}"
                     class="bg-gray-800 text-white group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
                      >
                        {% else %}
                      <a
                        href="?spot={{ break }}"
                        class="text-gray-200 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 leading-6 font-semibold"
                      >
                      {% endif %}
                    {{ break }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="-mx-6 mt-auto">
              <a
                href="mailto:austin@r00ks.io"
                class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-white hover:bg-gray-800"
              >
              Feedback / Suggestions
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
