{% include "includes/legendLoader.html" %}
<div id="precipitation-legend-container" class="hidden rounded-sm bg-[#36a2eb]">
  <div
    id="precipitation-legend"
    class="pointer-events-none m-auto flex justify-center rounded-sm text-lg text-white transition"
    style="display: hidden"
  >
    <div class="mx-auto max-w-7xl text-black">
      <div class="grid grid-cols-2 gap-px px-2 sm:grid-cols-3 md:grid-cols-4">
        <div class="grid min-w-72 items-end p-2 sm:px-6 sm:py-2 lg:px-8">
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              class="text-xl font-medium tracking-tight sm:text-3xl"
              id="precipitation-legend-label"
            ></span>
          </p>
        </div>

        <div class="sm:hidden"></div>

        <div class="grid grid-rows-1 items-end p-2 sm:px-6 sm:py-2 lg:px-8">
          <p class="text-sm font-medium leading-6 text-gray-900">
            Chance of Precipitation
          </p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              class="text-2xl font-semibold tracking-tight sm:text-3xl"
              id="precipitation-legend-precipitation"
            ></span>
            <span class="text-sm text-gray-900">%</span>
          </p>
        </div>
        <div class="grid grid-rows-1 items-end p-2 sm:px-6 sm:py-2 lg:px-8">
          <p
            class="whitespace-nowrap text-sm font-medium leading-6 text-gray-900"
          >
            Chance of Thunder
          </p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              class="text-2xl font-semibold tracking-tight sm:text-3xl"
              id="precipitation-legend-thunder"
            ></span>
            <span class="text-sm text-gray-900">%</span>
          </p>
        </div>
        <div class="hidden items-end px-4 py-2 sm:px-6 md:grid lg:px-8">
          <p class="text-sm font-medium leading-6 text-gray-900">Cloud Cover</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span
              id="precipitation-legend-cloud-cover"
              class="text-2xl font-semibold tracking-tight sm:text-3xl"
            ></span>
            <span class="text-sm text-gray-900">%</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
