<!doctype html>
<html lang="en">
  <head>
    <title>gathering surf - {{ spot.name | lower }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta charset="utf-8" />
    <meta name="description" content="Lake Michigan surf forecasts" />
    <meta name="theme-color" content="#02050e" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />

    <link rel="preconnect" href="https://api.fontshare.com" />
    <link rel="preconnect" href="https://cdn.fontshare.com" crossorigin />
    <link
      href="https://api.fontshare.com/css?f[]=satoshi&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.fontshare.com/css?f[]=array&display=swap"
      rel="stylesheet"
    />

    <link rel="preload" href="/assets/styles.css?version=106" as="style" />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"
      as="script"
    />
    <link
      rel="preload"
      href="/assets/static/index.min.js?version=109"
      as="script"
    />

    <link
      href="/assets/styles.css?version=106"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>
  <body
    class="h-full bg-black"
    x-data="{ showNav: false, showLiveFeed: false }"
    @keyup.escape="showLiveFeed = false; showNav = false;"
    :class="{ 'overflow-hidden': showNav || showLiveFeed }"
  >
    <script src="/assets/static/index.min.js?version=109"></script>
    {% block body %} {% endblock %} {% include "includes/footer.html" %} {% if
    live_reload %}
    <script>
      function connect(reload = false) {
        const socket = new WebSocket("ws://localhost:8080/watch");

        // Reload when connected. Means the server disconnected because
        // it was re-compiling. Reload to run the latest.
        socket.onopen = () => {
          if (reload) location.reload();
        };

        // Reload when a message arrives, meaning a template or js has been updated.
        // Wait 50 ms for assets to be re-compilied.
        socket.onmessage = () => {
          setTimeout(() => location.reload(), 50);
        };

        // Reload when the connection closes, meaning the server has changed and the
        // connection was lost.
        socket.onclose = () => {
          setTimeout(() => {
            console.log("socket reconnecting...");
            connect(true);
          }, 1_000);
        };
      }

      connect();
    </script>
    {% endif %}
  </body>
</html>
