<!doctype html>
<html lang="en">
  <head>
    <title>Gathering Surf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta charset="utf-8" />
    <meta name="description" content="Milwaukee surf forecasts" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="bg-white dark:bg-[#121c22]">
    {% block body %} {% endblock %} 
  </body>
</html>
