<!doctype html>
<html lang="en">
  <head>
    <title>Gathering Surf - {{ spot.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta charset="utf-8" />
    <meta name="description" content="Lake Michigan surf forecasts" />
    <meta name="theme-color" content="#02050e" />

    <link rel="preload" href="/assets/styles.css?v=3" as="style" />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"
      as="script"
    />
    <link rel="preload" href="/assets/static/index.js?v=15" as="script" />

    <link href="/assets/styles.css?v=3" rel="stylesheet" type="text/css" />
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>
  <body
    class="h-full bg-black"
    x-data="{ showNav: false, showLiveFeed: false }"
    @keyup.escape="showLiveFeed = false; showNav = false;"
    :class="{ 'overflow-hidden': showNav || showLiveFeed }"
  >
    <script src="/assets/static/index.js?v=15"></script>
    {% block body %} {% endblock %} {% include "includes/footer.html" %}
  </body>
</html>
