<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="application/json">{{ forecast_json | safe }}</script>
<script>
    const qualities = {{ qualities | safe }}
    const wave_height_labels = [{{ wave_height_labels | safe }}]
    const wave_heights = [{{ wave_height_data }}]
    const wind_speeds = [{{ wind_speed_data }}]
    const wind_directions = [{{ wind_direction_data }}]
    const wind_gusts = [{{ wind_gust_data }}]
    const wave_period = [{{ wave_period_data }}]

    const qualityMap = {
        "#0bd674": "Good",
        "#ffcd1e": "Fair to Good",
        "#ff9500": "Poor",
        "#f4496d": "Very Poor",
    }

    document.getElementById("current-wave-height").innerText = "{{ current_wave_height }}"
    document.getElementById("current-wave-period").innerText = "{{ current_wave_period }}"
    document.getElementById("wave-icon").setAttribute("style", "transform: rotate({{ current_wave_direction }}deg);")

    document.querySelector("#legend-label").innerText = wave_height_labels[0];
    document.querySelector("#legend-quality").innerText = qualities[0];
    document.querySelector("#legend-wave-height").innerText = wave_heights[0];
    document.querySelector("#legend-wind-speed").innerText = wind_speeds[0];
    document.getElementById("legend-wind-icon").setAttribute("style", `transform: rotate(${wind_directions[0]}deg);`)
    document.querySelector("#legend-wave-period").innerText = wave_period[0];
    document.querySelector("#legend-wind-gust").innerText = wind_gusts[0];
    document.getElementById("forecast-as-of").innerText = "Last updated at {{ forecast_as_of }}"

    document.querySelectorAll(".loader").forEach(e => e.remove())
    document.getElementById("forecast").classList.remove("hidden")
    document.getElementById("wave-quality").classList.remove("hidden")
    document.getElementById("legend-container").classList.remove("hidden")

    // The default legend background is the same as the latest wave quality shown
    // in the header. If that script doesn't happen fallback to the first value in 
    // the qualities array.
    const legend = document.querySelector("#legend");
    if (legend.style.length < 1) {
        legend.setAttribute("style", `background-color: ${qualities[0]};`);
    }

const ctx = document.getElementById("forecast");

const quality = ctx => qualities[ctx.p0.parsed.x]

const plugin = {
    id: 'vert',
    defaults: {
        width: 1,
        dash: [3, 3],
    },
    afterInit: (chart, args, opts) => {
      chart.corsair = {
        x: 0,
        y: 0,
      }
    },
    afterEvent: (chart, args) => {
      const {inChartArea} = args
      const {type,x,y} = args.event

      chart.corsair = {x, y, draw: inChartArea}
      chart.draw()
    },
    beforeDatasetsDraw: (chart, args, opts) => {
      const {ctx} = chart
      const {top, bottom, left, right} = chart.chartArea
      const {x, draw} = chart.corsair
      if (!draw) return

      ctx.save()
      
      ctx.beginPath()
      ctx.lineWidth = opts.width
      ctx.strokeStyle = opts.color
      ctx.setLineDash(opts.dash)
      ctx.moveTo(x, bottom)
      ctx.lineTo(x, top)
      ctx.stroke()
      
      ctx.restore()
    }
  }

new Chart(ctx, {
  type: "line",
  plugins: [plugin],
  data: {
    labels: wave_height_labels, 
    datasets: [
      {
        label: "wave height (feet)",
        data: wave_heights,
        pointStyle: false,
        fill: false,
        segment: {
          backgroundColor: (ctx) => quality(ctx) || "#4ade80",
          borderColor: (ctx) => quality(ctx) || "#4ade80",
        },
      },
    ],
  },
  options: {
        onHover: (e, _, chart) => {
            const canvasPosition = Chart.helpers.getRelativePosition(e, chart);
            // Substitute the appropriate scale IDs
            const x_value = chart.scales.x.getValueForPixel(canvasPosition.x) 
            const x = x_value && x_value > 0 
                ? x_value >= wave_heights.length 
                    ? wave_heights.length - 1
                    : x_value 
                : 0;
            const color = qualities[x];
            document.querySelector("#legend").setAttribute("style", `background-color: ${ color }`);
            document.querySelector("#legend-label").innerText = wave_height_labels[x];
            document.querySelector("#legend-quality").innerText = qualityMap[color];
            document.querySelector("#legend-wave-height").innerText = wave_heights[x];
            document.querySelector("#legend-wind-speed").innerText = wind_speeds[x];
            document.getElementById("legend-wind-icon").setAttribute("style", `transform: rotate(${wind_directions[x]}deg);`)
            document.querySelector("#legend-wave-period").innerText = wave_period[x];
            document.querySelector("#legend-wind-gust").innerText = wind_gusts[x];
        },
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
      },
    vert: {
      color: 'white',
    },
      tooltip: {
        enabled: false,
      },
    },
    elements: {
      line: {
        tension: 0.4,
      },
    },
    responsive: true,
    interaction: {
      intersect: false,
      axis: "x",
    },
    scales: {
      x: {
        ticks: {
          display: false,
        },
      },
      y: {
        beginAtZero: true,
        max: {{ graph_max }} + 1,
          ticks: {
              callback: function(value, index, ticks) {
                  if (value % 2 !== 0) {
                      return "";
                  }
                  return value;
              },
              font: {
                  size: 18,
                  weight: "bold",
              }
          }
      },
    },
  },
});
</script>
</body>
</html>
