{% extends "base.html" %} {% block body %}
<div>
  {% include "includes/header.html" %}
  <main>
    <div id="latest-container">
      <header>
        <div
          class="border-b border-white/15 z-10 bg-black/90 sticky top-[64px] flex flex-col-reverse items-start justify-between gap-x-8 gap-y-2 px-4 py-4 sm:flex-row sm:items-center sm:px-6 lg:px-8"
        >
          <div class="flex items-center">
            <h1
              class="text-white flex sm:self-center gap-x-3 text-xl sm:text-2xl leading-7 mb-0"
            >
              Right Now
            </h1>
            {% if spot.live_feed_url %}
            <button class="ml-2" @click="showLiveFeed = true">
              <svg
                class="fill-gray-300 hover:fill-gray-500"
                height="20px"
                width="20px"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 284.248 284.248"
                xml:space="preserve"
              >
                <path
                  d="M278.523,59.236c-1.646-0.899-3.46-1.345-5.27-1.345c-2.073,0-4.141,0.584-5.946,1.742L209.141,95.09V74.802  c-0.001-9.763-7.917-17.678-17.677-17.678H17.678C7.915,57.124,0,65.039,0,74.802v134.645c0,9.763,7.915,17.678,17.678,17.678  h173.786c9.76,0,17.676-7.915,17.676-17.678v-20.29l58.166,35.457c1.804,1.159,3.868,1.742,5.944,1.742  c1.807,0,3.624-0.448,5.272-1.345c3.528-1.927,5.725-5.632,5.725-9.657V68.895C284.249,64.87,282.052,61.164,278.523,59.236z   M254.482,181.933l-45.341-27.64v-24.34l45.341-27.64V181.933z"
                />
              </svg>
            </button>
            {% endif %}
          </div>
          <div
            id="as-of-container"
            class="font-mono flex order-first rounded-full bg-gray-400/10 px-3 py-1 text-xs font-medium text-gray-500 ring-1 ring-inset ring-gray-400/30 sm:order-none"
          >
            <span id="as-of">{{ as_of }}</span>
          </div>
        </div>

        <!-- Stats -->
        <div class="grid grid-cols-2 bg-gray-700/10 lg:grid-cols-3">
          <div class="border-t border-white/5 py-3 px-4 sm:p-3 lg:px-8">
            <p class="text-sm font-medium leading-6 text-gray-400">Waves</p>
            <div class="mt-2 flex items-baseline gap-x-2">
              <div
                style="
                    width: 6px;
                    height: 64px;
                    border-radius: 99px;
                    margin: auto 10px auto 0;
                    background-color: {{ quality_color }}
                  "
                class="wave-quality-loader bg-gray-700"
              ></div>
              <div class="flex flex-col">
                <div class="flex items-baseline space-x-1">
                  <span
                    id="current-wave-height"
                    class="text-2xl sm:text-4xl font-semibold tracking-tight text-white"
                  >
                    {{ wave_height }}
                  </span>
                  <span class="text-sm text-gray-400">ft</span>
                  {% if wave_period %}
                  <span class="text-sm text-gray-400">@</span>
                  <span class="text-gray-400">
                    <span
                      id="current-wave-period"
                      class="font-semibold text-lg text-white"
                    >
                      {{ wave_period }} </span
                    >s
                  </span>
                  {% endif %}
                </div>
                <div class="flex items-baseline">
                  <div
                    id="wave-quality-text"
                    class="text-xl leading-3 font-semibold tracking-tight text-white mt-2"
                    style="color: {{ quality_color }}"
                  >
                    {{ quality }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="border-t border-white/5 py-3 px-4 sm:p-3 lg:px-8 sm:border-l"
          >
            <p class="text-sm font-medium leading-6 text-gray-400">Wind</p>
            <div
              class="text-2xl sm:text-4xl font-semibold tracking-tight text-white mt-2 flex items-baseline gap-x-2"
            >
              <div
                class="w-6 h-6 sm:w-8 sm:h-8 fill-white mr-2"
                id="wind-icon-container"
              >
                <svg
                  id="wind-icon"
                  class="transition"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  style="transform: rotate({{ wind_direction + 180 }}deg)"
                >
                  <title>wind direction</title>
                  <path
                    d="M26.71,10.29l-10-10a1,1,0,0,0-1.41,0l-10,10,1.41,1.41L15,3.41V32h2V3.41l8.29,8.29Z"
                  />
                </svg>
              </div>
              <span id="wind">
                {% if wind_gust | int > 0 %}
                <span id="wind">{{ wind_speed }}-{{ wind_gust }}</span>
                {% else %}
                <span id="wind">{{ wind_speed }}</span>
                {% endif %}
              </span>
              <span class="text-sm text-gray-400">mph</span>
            </div>
          </div>
          <div
            class="flex justify-between border-t border-white/5 py-3 px-4 sm:px-6 lg:px-8 lg:border-l"
          >
            <div>
              <p class="text-sm font-medium leading-6 text-gray-400">
                Water Temp
              </p>
              <div
                class="text-2xl sm:text-4xl font-semibold tracking-tight text-white mt-2 flex items-baseline gap-x-2"
              >
                <span id="current-water-temp">{{ water_temp }}</span>
                <span class="text-sm tracking-tight font-semibold text-gray-400"
                  >°F</span
                >
              </div>
            </div>
          </div>
          <div
            class="lg:hidden flex justify-between border-t border-white/5 py-3 px-4 sm:px-6 lg:px-8 lg:border-l"
          >
            <div>
              <p class="text-sm font-medium leading-6 text-gray-400">
                Air Temp
              </p>
              <div
                class="text-2xl sm:text-4xl font-semibold tracking-tight text-white mt-2 flex items-baseline gap-x-2"
              >
                <span id="current-air-temp-2">{{ air_temp }}</span>
                <span class="text-sm tracking-tight font-semibold text-gray-400"
                  >°F</span
                >
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </main>
</div>
{% endblock %}
