{% extends "base.html" %} {% block body %}
  <div>
    {% include "includes/header.html" %}
    <main>
      <div id="latest-container">
        <header>
          <!-- Heading -->
          <div
            class="border-t border-white/5 flex flex-col-reverse items-start justify-between gap-x-8 gap-y-2 bg-gray-700/10 px-4 py-4 sm:flex-row sm:items-center sm:px-6 lg:px-8"
          >
            <div class="flex items-center">
              <h1
                class="text-white flex sm:self-center gap-x-3 text-xl leading-7 mb-0"
              >
                Right Now
              </h1>
            </div>
            <div
              id="as-of-container"
              class="flex order-first rounded-full bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/30 sm:order-none"
            >
              <div
                class="flex-none rounded-full bg-green-400/10 p-1 mr-3 text-green-400"
              >
                <div class="h-2 w-2 rounded-full bg-current"></div>
              </div>
              <span id="as-of">{{ as_of }}</span>
            </div>
          </div>

          <!-- Stats -->
          <div class="grid grid-cols-2 bg-gray-700/10 lg:grid-cols-3">
            <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
              <p class="text-sm font-medium leading-6 text-gray-400">Waves</p>
              <div class="mt-2 flex items-baseline gap-x-2">
                <div
                  id="wave-quality"
                  class="w-[6px] h-16 self-center rounded-full mr-[10px]"
                  style="
                    background-color: {{ quality_color }}
                  "
                ></div>
                <div class="flex flex-col">
                  <div class="flex items-baseline space-x-1">
                    <span
                      id="current-wave-height"
                      class="text-4xl font-semibold tracking-tight text-white"
                    >
                      {{ wave_height }}
                    </span>
                    <span class="text-sm text-gray-400">ft</span>
                  </div>
                  <div class="flex items-baseline">
                    <div
                      id="wave-quality-text"
                      class="text-xl leading-3 font-semibold tracking-tight text-white mt-2"
                      style="color: {{ quality_color }}"
                    >
                      {{ quality }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8">
              <div>
                <p class="text-sm font-medium leading-6 text-gray-400">
                  Water Temp
                </p>
                <div
                  class="text-4xl font-semibold tracking-tight text-white mt-2 flex items-baseline gap-x-2"
                >
                  <span id="current-water-temp">{{ water_temp }}</span>
                  <span
                    class="text-sm tracking-tight font-semibold text-gray-400"
                    >°F</span
                  >
                </div>
              </div>
            </div>
            <div
              class="border-t border-white/5 py-6 px-4 sm:px-6 lg:px-8 sm:border-l"
              style="min-width: 220px;"
            >
              <p class="text-sm font-medium leading-6 text-gray-400">Wind</p>
              <div
                class="text-4xl font-semibold tracking-tight text-white mt-2 flex items-baseline gap-x-2"
              >
                <div class="w-8 h-8 fill-white mr-2" id="wind-icon-container">
                  <svg
                    id="wind-icon"
                    class="transition"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                    style="transform: rotate({{ wind_direction + 180 }}deg)"
                  >
                    <title>wind direction</title>
                    <path
                      d="M26.71,10.29l-10-10a1,1,0,0,0-1.41,0l-10,10,1.41,1.41L15,3.41V32h2V3.41l8.29,8.29Z"
                    />
                  </svg>
                </div>
                {% if wind_gust | int > 0 %}
                <span id="wind">{{ wind_speed }}-{{ wind_gust }}</span>
                {% else %}
                <span id="wind">{{ wind_speed }}</span>
                {% endif %}
                <span class="text-sm text-gray-400">mph</span>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div id="latest-error"></div>
    </main>
  </div>
</div>
{% endblock %}
