{% extends "base.html" %} {% block body %}
<div>
  <h1 class="text-primary-600 dark:text-primary-300">Gathering Surf</h1>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-primary-500">
          Right Now
        </h1>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle">
          <table
            class="min-w-full border-separate border-spacing-0 text-primary-500"
          >
            <thead>
              <tr>
                <th
                  scope="col"
                  class="sticky top-0 z-10 border-b border-gray-300 bg-secondary-300 bg-opacity-90 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
                >
                  Wind Direction
                </th>
                <th
                  scope="col"
                  class="sticky top-0 z-10 hidden border-b border-gray-300 bg-secondary-300 bg-opacity-90 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell"
                >
                  Wind Speed
                </th>
                <th
                  scope="col"
                  class="sticky top-0 z-10 hidden border-b border-gray-300 bg-secondary-300 bg-opacity-90 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell"
                >
                  Gusts
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td
                  class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 lg:pl-8"
                >
                  {{ wind_direction }}
                </td>
                <td
                  class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm sm:table-cell"
                >
                  {{ wind_speed}}
                </td>
                <td
                  class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm lg:table-cell"
                >
                  {{ gusts }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>As of {{ time }}</div>
</div>
{% endblock %}
