<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.getElementById("wave-quality").setAttribute("style", "background-color: {{ wave_quality }};")
    document.getElementById("wave-quality-text").innerText = "{{ wave_quality_text }}"
    document.getElementById("wave-quality-text").setAttribute("style", "color: {{ wave_quality }};")
    document.getElementById("current-wave-height").innerText = "{{ current_wave_height }}"
    document.getElementById("current-wave-period").innerText = "{{ current_wave_period }}"
    document.getElementById("current-water-temp").innerText = "{{ current_water_temp }}"
    document.getElementById("wave-icon").setAttribute("style", "transform: rotate({{ current_wave_direction }}deg);")
    document.getElementById("wind").innerText = "{{ wind }}"
    document.getElementById("as-of").innerText = "Live as of {{ as_of }}"
    document.getElementById("wind-icon").setAttribute("style", "transform: rotate({{ wind_icon_direction }}deg);")
    document.getElementById("forecast-as-of").innerText = "Last updated at {{ forecast_as_of }}"

    document.querySelectorAll(".loader").forEach(e => e.remove())
    document.getElementById("wind-icon-container").classList.remove("hidden")
    document.getElementById("wave-icon-container").classList.remove("hidden")
    document.getElementById("as-of-container").classList.remove("animate-pulse")
    document.getElementById("forecast").classList.remove("hidden")
</script>
<script>
const ctx = document.getElementById("forecast");

const qualities = {{ qualities | safe }}
const quality = ctx => qualities[ctx.p0.parsed.x]


const getOrCreateTooltip = (chart) => {
  let tooltipEl = chart.canvas.parentNode.querySelector("div");

  let bg = qualities[chart.tooltip.dataPoints[0].parsed.x]
  if (!tooltipEl) {
    tooltipEl = document.createElement("div");
    tooltipEl.style.borderRadius = "3px";
    tooltipEl.style.color = "white";
    tooltipEl.style.opacity = 1;
    tooltipEl.style.pointerEvents = "none";
    tooltipEl.style.position = "fixed";
    tooltipEl.style.left = "50vw";
    tooltipEl.style.transform = "translate(-50%, 0)";
    tooltipEl.style.transition = "all .1s ease";
    tooltipEl.style.width = document.querySelector("canvas").style.width;
    tooltipEl.style.display = "flex";
    tooltipEl.style.justifyContent = "center";
    tooltipEl.style.fontSize = "large";
    tooltipEl.style.margin = "auto";

    const table = document.createElement("table");
    table.style.margin = "0px";

    tooltipEl.appendChild(table);
    chart.canvas.parentNode.appendChild(tooltipEl);
  }
  tooltipEl.style.background = bg

  return tooltipEl;
};

const externalTooltipHandler = (context) => {
  // Tooltip Element
  const { chart, tooltip } = context;
  const tooltipEl = getOrCreateTooltip(chart);

  // Set Text
  if (tooltip.body) {
    const titleLines = tooltip.title || [];
    const bodyLines = tooltip.body.map((b) => b.lines);

    const tableHead = document.createElement("thead");

    titleLines.forEach((title) => {
      const tr = document.createElement("tr");
      tr.style.borderWidth = 0;

      const th = document.createElement("th");
      th.style.borderWidth = 0;
      const text = document.createTextNode(title);

      th.appendChild(text);
      tr.appendChild(th);
      tableHead.appendChild(tr);
    });

    const tableBody = document.createElement("tbody");
    bodyLines.forEach((body, i) => {
      const colors = tooltip.labelColors[i];

      const span = document.createElement("span");

      const tr = document.createElement("tr");
      tr.style.backgroundColor = "inherit";
      tr.style.borderWidth = 0;

      const td = document.createElement("td");
      td.style.borderWidth = 0;

      const text = document.createTextNode(body);

      td.appendChild(span);
      td.appendChild(text);
      tr.appendChild(td);
      tableBody.appendChild(tr);
    });

    const tableRoot = tooltipEl.querySelector("table");

    // Remove old children
    while (tableRoot.firstChild) {
      tableRoot.firstChild.remove();
    }

    // Add new children
    tableRoot.appendChild(tableHead);
    tableRoot.appendChild(tableBody);
  }

  const { offsetLeft: positionX, offsetTop: positionY } = chart.canvas;

  // Display, position, and set styles for font
  // tooltipEl.style.left = positionX + tooltip.caretX + "px";
  // tooltipEl.style.top = positionY + tooltip.caretY + "px";
  // tooltipEl.style.font = tooltip.options.bodyFont.string;
  // tooltipEl.style.padding =
  //   tooltip.options.padding + "px " + tooltip.options.padding + "px";
};

const totalDuration = 1000;
const delayBetweenPoints = totalDuration / qualities.length;
const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
const animation = {
  x: {
    type: 'number',
    easing: 'linear',
    duration: delayBetweenPoints,
    from: NaN, // the point is initially skipped
    delay(ctx) {
      if (ctx.type !== 'data' || ctx.xStarted) {
        return 0;
      }
      ctx.xStarted = true;
      return ctx.index * delayBetweenPoints;
    }
  },
  y: {
    type: 'number',
    easing: 'linear',
    duration: delayBetweenPoints,
    from: previousY,
    delay(ctx) {
      if (ctx.type !== 'data' || ctx.yStarted) {
        return 0;
      }
      ctx.yStarted = true;
      return ctx.index * delayBetweenPoints;
    }
  }
};

new Chart(ctx, {
  type: "line",
  data: {
    labels: [{{ wave_height_labels | safe }}],
    datasets: [
      {
        label: "wave height (feet)",
        data: [{{ wave_height_data }}],
        pointStyle: false,
        fill: true,
        segment: {
          backgroundColor: (ctx) => quality(ctx) || "#4ade80",
          borderColor: (ctx) => quality(ctx) || "#4ade80",
        },
      },
    ],
  },
  options: {
    animation,
    plugins: {
      legend: {
        display: false,
      },
      tooltip: {
        enabled: false,
        position: "nearest",
        external: externalTooltipHandler,
      },
    },
    elements: {
      line: {
        tension: 0.4,
      },
    },
    responsive: true,
    interaction: {
      intersect: false,
      axis: "x",
    },
    scales: {
      x: {
        ticks: {
          display: false,
        },
      },
      y: {
        beginAtZero: true,
          max: {{ graph_max }} >= 8 ? {{ graph_max }} : 8,
      },
    },
  },
});
</script>
</body>
</html>
